<!-- End Page Content -->
                    </div>
                </div>
            </main>
        </div>
    </div>


<%- await include('parts/playerInfoModal.ejs', locals) %>
<%- await include('parts/changePasswordModal.ejs', locals) %>

    <!-- CoreUI and necessary plugins-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked@4.2.12/lib/marked.umd.min.js"></script>
    <script src="<%= resourcePath %>js/coreui.bundle.min.js"></script>
    <script src="<%= resourcePath %>js/bootstrap-notify.min.js"></script>
    <script src="<%= resourcePath %>js/jquery-confirm.min.js"></script>
    <script src="<%= resourcePath %>js/humanizeDuration.min.js"></script>
    <script src="<%= resourcePath %>js/socket.io.min.js"></script>
    <script src="<%= resourcePath %>js/txadmin/base.js"></script>
    <script src="<%= resourcePath %>js/txadmin/main.js"></script>
    <script src="<%= resourcePath %>js/txadmin/players.js"></script>
</body>
</html>
